:root {
  --color-heading: #0b0d19;
  --color-body: #677386;
  --color-bg-button: #3d7bfa;
  --color-text-button: #fff;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 0;
}

/* Begynd her... */

body {
  color: var(--color-body);
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

h1 {
  color: var(--color-heading);
  font-size: 5.5rem;
}

p,
button {
  font-size: 2rem;
}

button {
  background-color: var(--color-bg-button);
  color: var(--color-text-button);
}

.img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

img {
  border-radius: 20px;
}

img:first-child {
  grid-column: 2;
  grid-row: 1;
}

img:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

img:nth-child(3) {
  grid-column: 2;
  grid-row: 2 / span 2;
}

img:nth-child(4) {
  grid-column: 3;
  grid-row: 2;
}

img:nth-child(5) {
  grid-column: 1;
  grid-row: 3;
}

img:nth-child(6) {
  grid-column: 3;
  grid-row: 3;
}

img:last-child {
  grid-column: 2;
  grid-row: 4;
}
