:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: var(--card-padding);
  max-width: 500px;
  align-items: center;

  > img {
    width: var(--image-width);
    grid-column: 1;
    border-radius: 90px;
  }

  > .card-info {
    grid-column: 2;

    > * {
      padding-bottom: 1rem;
    }
  }
}

h1 {
  font-size: var(--font-heading);
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;

  > * {
    color: var(--color-icon);
    width: 25px;
    height: 25px;
  }
}

/* Begynd her... */
